body {
  background-color: #211;
  color: #ecc;
}

a {color: #fff; text-decoration: none; }
a:hover {text-decoration: underline; }

.app {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: row;
}

.app-header {
  padding: 20px;
  background-color: #533;
}

.app-sideNav {
  padding: 1em;
  display: flex; 
  flex-direction: column;
  min-width: 8em;
  background-color: #100;
  border-right: 1px solid #433;
}

.app-sideNav div, .app-sideNav a{
  margin-bottom: 0.25em;
}

.app-body{
  width: 100%;
  min-height: 38em;
}

.collapse-section {
  margin: 0.5em;
  border: 1px solid #433;
}

.collapse-section-header {
  padding: 0.5em;
  background-color: #433;
  border-bottom: inherit;
}

.collapse-section-body {
  padding: 1em;
}