body {
  background-color: #000;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #336;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-sideNav {
 display: flex-box; 
  border: 1px solid green;
  width: 30%;
}
.app-sideNav-header ,
.app-sideNav-element {
  border: 1px solid blue;
}

